html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat Light.woff2") format("woff2"), url("../fonts/Montserrat Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat Regular.woff2") format("woff2"), url("../fonts/Montserrat Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/Raleway SemiBold.woff2") format("woff2"), url("../fonts/Raleway SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway Bold.woff2") format("woff2"), url("../fonts/Raleway Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway Regular.woff2") format("woff2"), url("../fonts/Raleway Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044;
}

a {
  text-decoration: none;
}

.section {
  min-width: 1440px;
  padding: 80px 0;
}

.text {
  font-size: 14px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.714;
  text-align: center;
  margin-bottom: 50px;
}

.title {
  font-size: 30px;
  font-family: "Raleway SemiBold";
  color: #555555;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 24px;
}

.page-subject {
  font-size: 52px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 19px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link_cart {
  margin: 0 20px;
}

.navigation__link_cart svg {
  fill: #ffffff;
}

.navigation__link_cart:hover svg, .navigation__link_cart:active svg {
  fill: #c7b299;
}

.navigation__search-button svg {
  fill: #ffffff;
}

.navigation__search-button:hover svg, .navigation__search-button:active svg {
  fill: #c7b299;
}

.light-brown-button {
  color: #ffffff;
  cursor: pointer;
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.643;
  text-align: center;
}

.light-brown-button:hover, .light-brown-button:active {
  -webkit-box-shadow: 0 4px 2px -2px #736357;
          box-shadow: 0 4px 2px -2px #736357;
}

.header {
  min-height: 1024px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  background-image: url("../images/header-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link_to-main-page {
  font-size: 34px;
  font-family: "Raleway";
  color: white;
  line-height: 1.2;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header__navigation-item {
  margin: 0 20px 0 0;
}

.header__navigation-item:hover {
  color: #bfab94;
}

.header__navigation-link {
  color: #ffffff;
}

.header__radio {
  text-align: center;
}

.header__radio-button {
  border-radius: 50%;
  background-image: -ms-linear-gradient(-41deg, #0e0e12 0%, #2d2d35 100%);
  opacity: 0.502;
  width: 11px;
  height: 11px;
  cursor: pointer;
}

.header__radio-button:checked {
  border-style: solid;
  border-width: 2px;
  border-color: #d3c1ad;
  border-radius: 50%;
  background-image: -ms-linear-gradient(-41deg, #0e0e12 0%, #2d2d35 100%);
  width: 11px;
  height: 11px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider__title {
  font-family: "Raleway";
  font-size: 36px;
  color: white;
  line-height: 1.2;
  text-align: center;
}

.slider__central-page-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 595px;
}

.slider__central-page-part .text {
  font-size: 16px;
  font-family: "Montserrat Light";
  font-weight: 300;
  font-style: normal;
  color: white;
  line-height: 1.5;
  text-align: center;
}

.slider__button {
  width: 40px;
  height: 73px;
  border: none;
  cursor: pointer;
}

.slider__button_left {
  background: url(../icons/header-left-button-icon.png);
}

.slider__button_left:hover, .slider__button_left:active {
  background: url(../icons/header-right-button-icon-active.png);
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slider__button_right {
  background: url(../icons/header-left-button-icon.png);
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slider__button_right:hover, .slider__button_right:active {
  background: url(../icons/header-right-button-icon-active.png);
  -webkit-transform: scale(1, -1);
          transform: scale(1, -1);
}

.slider__button svg:hover,
.slider__button svg:active {
  fill: black;
}

.projects {
  padding: 80px 0 0 0;
}

.projects-upper-row {
  min-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects-upper-row-card {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-upper-row-card:hover, .projects-upper-row-card:active {
  cursor: pointer;
}

.projects-upper-row-card:hover svg, .projects-upper-row-card:active svg {
  fill: #c7b299;
}

.projects-upper-row-card:hover .title, .projects-upper-row-card:active .title {
  color: #c7b299;
}

.projects-upper-row-card:hover .text::after, .projects-upper-row-card:active .text::after {
  background-color: #c7b299;
}

.projects-upper-row-card svg {
  width: 48px;
  height: 48px;
}

.projects-upper-row-card__title {
  font-size: 22px;
  font-family: "Raleway SemiBold";
  color: #555555;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
}

.projects-upper-row-card .text {
  position: relative;
}

.projects-upper-row-card .text::after {
  content: "";
  background-color: #f1eee9;
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: 100px;
  left: 95px;
}

.projects-lower-column {
  padding: 80px 0 0 0;
  background-color: #fbfaf8;
  min-height: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-lower-column .text {
  width: 760px;
}

.aside {
  min-width: 1920px;
  height: 150px;
  background-color: #f4f5f8;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.aside .title {
  color: #ffffff;
  font-family: "Raleway";
  font-weight: 400;
  margin: 0;
}

.aside .text {
  margin: 0;
}

.aside-purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-purchase__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-purchase__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.white-button {
  height: 32px;
  width: 120px;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  background: #ffffff;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #8c8c8c;
  cursor: pointer;
}

.white-button:active, .white-button:hover {
  background-color: #998675;
  color: #ffffff;
}

.latest-projects-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-projects-section__text-wrapper {
  width: 757px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.latest-projects-section__button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 605px;
}

.project-article {
  margin: 0 0 30px 0;
  position: relative;
}

.project-article__link-icon {
  top: 106px;
  left: 144px;
}

.project-article__lupa-icon {
  top: 106px;
  left: 198px;
}

.project-article__link:hover svg {
  fill: #c7b299;
}

.project-article svg {
  content: "";
  width: 29px;
  height: 27px;
  position: absolute;
  visibility: hidden;
  fill: #ffffff;
}

.project-article:hover svg, .project-article:active svg {
  visibility: visible;
  z-index: 3;
}

.project-article:hover::after, .project-article:active::after {
  content: "";
  width: 370px;
  height: 237px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}

.project-article:hover .project-article__text-wrapper, .project-article:active .project-article__text-wrapper {
  background-color: #362f2d;
}

.project-article:hover .project-article__text-wrapper::after, .project-article:active .project-article__text-wrapper::after {
  border-bottom: 20px solid #362f2d;
}

.project-article:hover .title, .project-article:active .title {
  color: #ffffff;
}

.project-article:hover .text, .project-article:active .text {
  color: #c7b299;
}

.project-article__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 370px;
  height: 237px;
}

.project-article__text-wrapper {
  z-index: 2;
  width: 370px;
  height: 100px;
  background-color: #fbfaf8;
  padding: 0 0 0 28px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.project-article__text-wrapper:after {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  content: "";
  border-bottom: 20px solid #fbfaf8;
  top: -16px;
  left: 29px;
}

.project-article__text-wrapper .title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
  text-align: left;
  margin: 0;
}

.project-article__text-wrapper .text {
  text-align: left;
  line-height: 28px;
  margin: 0;
}

.article-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: #eeeeee;
}

.video-file {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  display: block;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}

.video__content {
  width: 552px;
  height: 314px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  margin: 0 auto;
  content: "";
  top: 450px;
  left: auto;
}

.video__content .title,
.video__content .text {
  color: #ffffff;
}

.mobile-product__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1140px;
}

.mobile-product__text-wrapper {
  width: 657px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.mobile-product__text-wrapper .text {
  text-align: left;
  padding-bottom: 10px;
}

.mobile-product__list {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mobile-product__item {
  position: relative;
  margin-bottom: 5px;
}

.mobile-product__item::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background: url(../icons/bullet-point.svg);
  background-size: 21px 21px;
  top: 2px;
  left: -34px;
}
/*# sourceMappingURL=style.css.map */