@font-face {
  font-family: "Raleway";
  src: url(../fonts/Raleway-VariableFont_wght.ttf);
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.section {
  padding: 80px 0;
}

.text {
  font-size: 14px;
  font-family: "Montserrat";
  color: #8c8c8c;
  line-height: 1.714;
  text-align: center;
}

.title {
  font-size: 30px;
  font-family: "Raleway";
  color: #555555;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.page-subject {
  font-size: 52px;
  font-family: "Raleway";
  color: white;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__link_cart {
  margin: 0 20px;
}

.header {
  min-height: 1024px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url("../images/header-background.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link_to-main-page {
  font-size: 34px;
  font-family: "Raleway";
  color: white;
  line-height: 1.2;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header__navigation-item {
  margin: 0 20px 0 0;
}

.header__navigation-link {
  color: #ffffff;
}

.header__radio {
  text-align: center;
}

.header__radio-button {
  border-radius: 50%;
  background-image: -ms-linear-gradient(-41deg, #0e0e12 0%, #2d2d35 100%);
  opacity: 0.502;
  width: 11px;
  height: 11px;
}

.header__radio-button:checked {
  border-style: solid;
  border-width: 2px;
  border-color: #d3c1ad;
  border-radius: 50%;
  background-image: -ms-linear-gradient(-41deg, #0e0e12 0%, #2d2d35 100%);
  width: 11px;
  height: 11px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.slider__title {
  font-family: "Raleway";
  font-size: 36px;
  color: white;
  line-height: 1.2;
  text-align: center;
}

.slider__central-page-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 595px;
}

.slider__button {
  width: 40px;
  height: 73px;
  border: none;
  cursor: pointer;
}

.slider__button_left {
  background: url(../icons/header-left-button-icon.png);
}

.slider__button_right {
  background: url(../icons/header-left-button-icon.png);
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.slider__button_get-started {
  color: #ffffff;
}

.projects-upper-row {
  min-height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects-upper-row-card {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects-upper-row-card svg {
  width: 48px;
  height: 48px;
}

.projects-upper-row-card p {
  position: relative;
}

.projects-upper-row-card p::after {
  content: "";
  background-color: #f1eee9;
  display: block;
  width: 70px;
  height: 3px;
  position: absolute;
  top: 100px;
  left: 95px;
}

.projects-lower-column {
  padding: 80px 0 0 0;
  background-color: #fbfaf8;
  min-height: 700px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.projects-lower-column .text {
  width: 760px;
}
/*# sourceMappingURL=style.css.map */